# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Data
*.db
*.sqlite
*.whl

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage

# Build
dist/
build/
*.egg-info/